body {
    background-image: url('/img/bg.jpg');
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px 11% 5% 11%;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.profile .section {
    margin-top: 25px;
}

.community-menu {
    color: #999;
    font-size: 13px;
}

.jumbotron {
    margin-left: 740px;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comment {
    margin: 10px 0;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    margin-top: 10px;
    color: #777;
}

.menu .active{
    color: #499ef3;
}

.comment-ico {
    margin-right: 6px;
    font-size: 18px;
    cursor: pointer;
}

.sub-comment{
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    border-radius: 5px;
}

.sub-comment .btn{
    margin: 10px 0;
}

.comment-span {
    position: relative;
    top: -3px;
    float: right;
}

.comment-ico:hover {
    color: #499ef3;
}

.comments{
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-top: 5px;
}