<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}">个人中心</title>
    <meta charset="UTF-8">
    <title>xiaoxin community</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--先引入jquery 再引入bootstrap -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
           <h4> <span th:text="${question.title}"></span></h4>
            <span class="text-desc"><span th:text="${question.commentCount}">

            </span>
                作者：<span th:text="${question.user.name}"></span>
                发布时间：<span th:text="${question.viewCount}"></span>
                阅读数：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}">
            </span></span>

            <hr>

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>发起人</h4>

        </div>
    </div>

</div>


</body>
</html>